body
  padding 60px 10px

.accounts-dialog
  width: 300px
  padding: 8px 20px
  margin: -8px -6px 0 -6px

#theBrand
  border-right: 5px solid #ddd

#iron-router-progress
  background-color #5cb85c
  box-shadow 0 0 5px #5cb85c
  
#iron-router-progress.spinner:before
  border-color #5cb85c