<template name="dataLayout">


  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="text-primary">Specimens</li>
          <li>
            {{#linkTo route='specimens.add'}}
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add
            {{/linkTo}}
          </li>
          <li class="active">
            {{#linkTo route='specimens.list'}}
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> List <span class="sr-only">(current)</span>
            {{/linkTo}}
          </li>
          <li>
            {{#linkTo route='specimens.recent'}}
            <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span> Recent
            {{/linkTo}}
          </li>
          <li>
            {{#linkTo route='specimens.search'}}
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
            {{/linkTo}}
          </li>
        </ul>
        <ul class="nav nav-sidebar">
          <li class="text-primary">Storage Locations</li>
          <li>
            {{#linkTo route='specimens.add'}}
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add
            {{/linkTo}}
          </li>
          <li>
            {{#linkTo route='specimens.list'}}
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> List <span class="sr-only">(current)</span>
            {{/linkTo}}
          </li>
          <li>
            {{#linkTo route='specimens.recent'}}
            <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span> Recent
            {{/linkTo}}
          </li>
          <li>
            {{#linkTo route='specimens.search'}}
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
            {{/linkTo}}
          </li>
        </ul>
      </div>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <div class="container">
          {{> notices}}
        </div>

        {{> yield}}

      </div>
    </div>
  </div>

  {{> header}}
  {{> footer}}

</template>
