<template name="biologList">

{{#if biologs}}
  <!--
  {{> biologFilter}}
  -->
  <div class="table-responsive">
    <table id="biologListTable" class="table table-striped table-hover">
      <thead>
        <tr>
          <th data-sort="_id">HS# <span class="{{hsClass}}"><span class="caret"></span></span></th>
          <th data-sort="dna">DNA# <span class="{{dnaClass}}"><span class="caret"></span></span></th>
          <!--
          <th data-sort="subjectCode">Subject Code <span class="{{subjectCodeClass}}"><span class="caret"></span></span></th>
          <th data-sort="studyCode">Study Code <span class="{{studyCodeClass}}"><span class="caret"></span></span></th>
          <th data-sort="tissue.value">Tissue <span class="{{tissueClass}}"><span class="caret"></span></span></th>
          <th data-sort="tissue.banking">Tissue Banking <span class="{{tissueBankingClass}}"><span class="caret"></span></span></th>
          <th data-sort="collected.date">Collected Date<span class="{{collectedClass}}"><span class="caret"></span></span></th>
          <th data-sort="received.date">Received Date <span class="{{receivedClass}}"><span class="caret"></span></span></th>
          <th data-sort="storage.location">Storage Location <span class="{{storageClass}}"><span class="caret"></span></span></th>
          <th data-sort="collaborator.name">Collaborator <span class="{{collabClass}}"><span class="caret"></span></span></th>
          <th data-sort="logged.byName">Logged By <span class="{{loggedByClass}}"><span class="caret"></span></span></th>
          <th data-sort="logged.date">Logged Date <span class="{{loggedDateClass}}"><span class="caret"></span></span></th>
          <th data-sort="comments">Comments <span class="{{commentsClass}}"><span class="caret"></span></span></th>
          -->
        </tr>
      </thead>
      <tbody>
        {{#each biologs}}
          {{> biologItem }}
        {{/each}}
        {{#if nextPath}}
          <tr>
            <td>&nbsp;</td>
            <td colspan="11">
              <a class="btn btn-primary btn-block" href="{{nextPath}}" role="button">Load More</a>
            </td>
            <td>&nbsp;</td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
  
{{else}}
  <li class="list-group-item list-group-item-warning">
    <h4 class="list-group-item-heading">None available. <a href="{{pathFor 'biologList'}}">Add one</a>? </h4>          
  </li>
{{/if}}

</template>
