<template name="biologAdd">

{{> biologsBar }}

<form id="addBiologForm" role="form" class="form-horizontal">
  
  <div class="form-group">
    <label for="hs" class="col-md-2 control-label">HS#</label>
    <div class="col-md-2">
      <input type="text" class="form-control" id="hs" size="5" maxlength="100">
    </div>
    <label for="subjectCode" class="col-md-2 control-label">Subject Code</label>
    <div class="col-md-2">
      <input type="text" class="form-control" id="subjectCode" size="10" maxlength="100">
    </div>
  </div>
  
  <div class="form-group">
    <label for="dna" class="col-md-2 control-label">DNA#</label>
    <div class="col-md-2">
      <input type="text" class="form-control" id="dna" size="10" maxlength="100">
    </div>
    <label for="studyCode" class="col-md-2 control-label">Study Code</label>
    <div class="col-md-2">
      <input type="text" class="form-control" id="studyCode" size="10" maxlength="100">
    </div>
  </div>

  <div class="form-group">
    <label for="tissue" class="col-md-2 control-label">Tissue</label>
    <div class="col-md-2">
      <input type="text" class="form-control" id="tissue" size="10" maxlength="100">
    </div>
    <label for="tissueBanking" class="col-md-2 control-label">Tissue Banking</label>
    <div class="col-md-2">
      <input type="checkbox" class="" id="tissueBanking">
    </div>
  </div>
  
  <div class="form-group">
    <label for="collectedDate" class="col-md-2 control-label">Collected</label>
    <div class="col-md-3">
      <input type="date" class="form-control" id="collectedDate">
    </div>
    <label for="receivedDate" class="col-md-1 control-label">Received</label>
    <div class="col-md-3">
      <input type="date" class="form-control" id="receivedDate">
    </div>
  </div>
  
  <div class="form-group">
    <label for="storageLocation" class="col-md-2 control-label">Stored</label>
    <div class="col-md-2">
      <input type="text" class="form-control" id="storageLocation" size="10" maxlength="100">
    </div>
  </div>

  <div class="form-group">
    <label for="collaborator" class="col-md-2 control-label">Collaborator</label>
    <div class="col-md-2">
      <input type="text" class="form-control" id="collaborator" size="10" maxlength="200">
    </div>
  </div>
  
  <div class="form-group">
    <label for="comments" class="col-md-2 control-label">Comments</label>
    <div class="col-md-5">
      <input type="text" class="form-control" id="comments" size="10" maxlength="1000">
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-md-1 col-md-offset-1">
      <button id="addBiologButton" type="submit" class="btn btn-success">Save</button>
    </div>
  </div>
</form>
  

</template>
