
.nav-tabs li a
  background-color #ccc

.nav-tabs li.active a,
.nav-tabs li:hover.active a
  color white
  background-color #428bca
  

#entryForm
  margin-top 10px

#entryForm.login #entryName, 
#entryForm.forgot #entryName, 
#entryForm.forgot #entryPassword
  display none !important
  visibility hidden !important

