<template name="biologsBar">

<nav id="biologsBar" class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="collapse navbar-collapse">
      <ul class="nav nav-pills">
        <li class="{{listNavClass}}"><a role="button" href="{{pathFor 'biologList'}}">List</a></li>
        <li class="{{addNavClass}}"><a role="button" href="{{pathFor 'biologAdd'}}">Add</a></li>
        <!--<li id="biologsSortNav" class="{{sortNavClass}}"><a role="button" href="#">Sorting</a></li>-->
        <li class="{{viewNavClass}}"><a role="button" href="{{pathFor 'biologView'}}">View</a></li>
        <li class="{{editNavClass}}"><a role="button" href="{{pathFor 'biologEdit'}}">Edit</a></li>
      </ul>
    </div>
  </div>
</nav>

</template>
